<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .app {
        height: 500px;
        width: 500px;
        background-color: bisque;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script>
      const vnode = {
        tag: 'DIV',
        attrs: {
          id: 'app',
          class: 'app'
        },
        children: [
          {
            tag: 'DIV',
            attrs: {
              style: { height: '100px', width: '100px', backgroundColor: 'blue' }
            },
            children: [
              {
                tag: 'A',
                key: 'v-1',
                mountIndex: 0,
                attrs: {
                  style: { color: '#fff' }
                },
                children: [{ value: 'hello word' }]
              },
              {
                tag: 'A',
                key: 'v-2',
                mountIndex: 1,
                attrs: {
                  style: { color: '#fff' }
                },
                children: [{ value: 'hello china' }]
              }
            ]
          }
        ]
      };
      const vnode2 = {
        tag: 'DIV',
        attrs: {
          id: 'app',
          class: 'app'
        },
        children: [
          {
            tag: 'DIV',
            attrs: {
              style: { height: '100px', width: '100px', backgroundColor: 'blue' }
            },
            children: [
              {
                tag: 'A',
                key: 'v-2',
                mountIndex: 0,
                attrs: {
                  style: { color: '#fff' }
                },
                children: [{ value: 'hello china  change' }]
              },
              {
                tag: 'A',
                key: 'v-3',
                mountIndex: 1,
                attrs: {
                  style: { color: '#fff' }
                },
                children: [{ value: 'hello china' }]
              }
            ]
          }
        ]
      };
      // 虚拟dom上映射着真实dom
      function _render(vnode) {
        if (typeof vnode.tag !== 'string') {
          return document.createTextNode(vnode.value);
        }
        const dom = document.createElement(vnode.tag);
        // 给元素添加上属性
        if (vnode.attrs) {
          for (let key in vnode.attrs) {
            if (key === 'style') {
              for (let styleName in vnode.attrs[key]) {
                dom.style[styleName] = vnode.attrs[key][styleName];
              }
            } else {
              dom.setAttribute(key, vnode.attrs[key]);
            }
          }
        }
        vnode.children &&
          vnode.children.forEach(child => {
            // 递归创建儿子节点，将儿子节点扔到父节点中
            return dom.appendChild(_render(child));
          });
        // 如果不是标签就是文本
        return dom;
      }
      const nodes = _render(vnode);
      document.getElementById('root').appendChild(nodes);
    </script>
  </body>
</html>
