<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="parentNodeId">
      <span>aaa</span>
      <span>bbb</span>
      <span>ccc</span>
    </div>
    <script>
      const nodeDiv = document.getElementById('parentNodeId');
      document.write(nodeDiv.parentNode.nodeName);
      document.write(nodeDiv.childNodes[0].innerHTML); // aaa
      document.write(nodeDiv.childNodes[0].innerHTML); // bbb
      document.write(nodeDiv.firstChild.innerHTML); // aaa
      document.write(nodeDiv.lastChild.innerHTML); // bbb
      document.write(nodeDiv.lastChild.previousSibling.innerHTML); // bbb
      document.write(nodeDiv.firstChild.nextSibling.innerHTML); // bbbb
    </script>
  </body>
</html>
